.app {
    display: flex;
    flex-direction: column;  
    height: 100vh;
    background-color: #2e3e50;
    color: white;
    font-family: 'Georgia', serif;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 1rem 2rem;
    align-items: stretch; 
    height: 100%;
}

h2, h3 {
    text-align: center;
    text-decoration: underline;
}

